<html lang="ru">
  <head>
    <title>SIFU</title>
    <meta name="description" content="Главная страница" />
    <meta name="keywords" content="боевые искусства, игры, сифу" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/flips.css" />
    <link rel="stylesheet" href="/css/buttons-effect.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="/img/Logo_Sifu_white.png" alt="Логотип" />
      </div>
      <nav>
        <ul>
          <li><a class="page-link" href="http://localhost:3000">Главная</a></li>
          <li><a class="page-link" href="http://localhost:3000/enemies">Враги</a></li>
          <li><a class="page-link" href="http://localhost:3000/news">Новости</a></li>
          <li><a class="page-link" href="http://localhost:3000/behind_scene">Закулисье</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="image-container">
        <div class="text-container scroll-reveal box right">
          <h2 class="header-section">ПО ПУТИ<br />МЕСТИ</h2>
          <p class="text-section">
            Охота на убийц вашей семьи проведет вас через потаенные уголки города, от бандитских пригородов до холодных
            коридоров корпоративных башен. У вас есть лишь один день, и бесчисленные враги на вашем пути. Время будет
            ценой
          </p>
        </div>
      </div>
      <div class="image-container">
        <div class="text-container scroll-reveal box left">
          <h2 class="header-section">АДАПТАЦИЯ <br />ВАШЕ ВСЕ</h2>
          <p class="text-section">
            Тщательное позиционирование и разумное использование окружающей среды в ваших интересах являются ключом к
            вашему выживанию. Метательные предметы, самодельное оружие, окна и уступы... Шансы против вас, вам придется
            использовать все, что в вашем распоряжении, чтобы одержать победу.
          </p>
        </div>
      </div>
      <div class="image-container">
        <div class="text-container scroll-reveal box right">
          <h2 class="header-section">ТРЕНИРОВКА НЕ <br />ЗАКОНЧИТСЯ</h2>
          <p class="text-section">
            Кунг-фу — это путь для тела и разума. Учитесь на своих ошибках, разблокируйте уникальные навыки и найдите в
            себе силы, чтобы овладеть разрушительными приемами кунг-фу Пак-Мей.
          </p>
        </div>
      </div>
      <div class="image-container">
        <div class="text-container scroll-reveal box left">
          <h2 class="header-section">Режим: Арены</h2>
          <p class="text-section">
            Жаждете еще немного старого доброго кунг-фу? Бесплатное расширение Arenas добавляет несколько часов
            геймплея, которые проверят ваше кунг-фу. С 5 новыми игровыми режимами, 9 динамичными локациями и 45
            испытаниями приготовьтесь к захватывающим боям, жестоким противникам и бесконечным возможностям отточить
            свои движения.
          </p>
        </div>
      </div>
      <div class="image-container">
        <span class="field-label content">Следите за нами</span>
        <form class="main-form">
          <input type="email" class="field" placeholder="exapmle.com" required />
          <div class="form-group form-actions">
            <div class="button" id="button-2">
              <div id="slide"></div>
              <a href="#">Отправить</a>
            </div>
          </div>
        </form>
      </div>
    </main>
  </body>
  <script src="/js/flips.js"></script>
</html>
