<html>
  <title>Закулисье</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/general.css" />
  <link rel="stylesheet" href="/css/news_card.css" />
  <link rel="stylesheet" href="/css/content.css" />
  <link rel="stylesheet" href="/css/behind_scene.css" />
  <link rel="stylesheet" href="/css/flips.css" />

  <body>
    <header>
      <div class="logo">
        <img src="/img/Logo_Sifu_white.png" alt="Логотип" />
      </div>
      <nav>
        <ul>
          <li><a class="page-link" href="http://localhost:3000">Главная</a></li>
          <li><a class="page-link" href="http://localhost:3000/enemies">Враги</a></li>
          <li><a class="page-link" href="http://localhost:3000/news">Новости</a></li>
          <li><a class="page-link" href="http://localhost:3000/behind_scene">Закулисье</a></li>
        </ul>
      </nav>
    </header>

    <div class="content">
      <div class="content-header" style="background-image: url('/img/Contents/behind_scene.png')">
        <div class="scroll-reveal box left">ЗАКУЛИСЬЕ 后台</div>
      </div>
      <section>
        <div class="section-content">
          <div class="title-container scroll-reveal box right">
            <h2>ЗА КУЛИСАМИ — КУНГ-ФУ И ЗАХВАТ ДВИЖЕНИЯ</h2>
          </div>
          <div class="description-container">
            <p>
              Взгляните на развитие Sifu и сотрудничество нашей команды с Бенджамином Колусси, мастером кунг-фу и
              основателем школы Lao Wei San - Pak Mei в Париже. Мастер-классы по боевому дизайну, сеансы захвата
              движения, обзоры культурной аутентичности: мы хотим, чтобы Sifu сочетал в себе опыт и творчество, чтобы
              предложить взрывной и уникальный опыт кунг-фу.
            </p>
          </div>
        </div>
        <div class="video-container">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/w77IYxQpBOw"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </section>

      <section>
        <div class="section-content">
          <div class="title-container scroll-reveal box left">
            <h2>ЗА КУЛИСАМИ - СОЗДАНИЕ САУНДТРЕКА</h2>
          </div>
          <div class="description-container">
            <p>
              Взгляните на небольшой репортаж о нашем сотрудничестве с Хоуи Ли, композитором из Пекина, который создал
              саундтрек к Sifu, смешав традиционные китайские мотивы с современной электронной музыкой.
            </p>
          </div>
        </div>
        <div class="video-container">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/sgdC6YZHoPg"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </section>
    </div>
    <script src="/js/flips.js"></script>
  </body>
</html>
