<figure class="card">
  <a class="image-link" href="/news-page?id={%ID%}">
    <img class="card-image" src="/img/NewsImages/{%IMG%}" />
  </a>
  <div class="card-date-box">
    <p class="card-date">{%DATE%}</p>
  </div>
  <div class="card-title-box">
    <h2 class="card-title">{%TITLE%}</h2>
  </div>

  <div class="card-detail-box">
    <p class="card-detail">{%DESCRIPTION%}</p>
  </div>

  <a class="card-link" style="padding: 0; margin-top: 10px" href="/news-page?id={%ID%}">
    <span class="read-more">ПРОЧИТАТЬ</span>
  </a>
</figure>
