<html>
  <head>
    <title>{%TITLE%}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/general.css" />
    <link rel="stylesheet" href="css/news-page.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="/img/Logo_Sifu_white.png" alt="Логотип" />
      </div>
      <nav>
        <ul>
          <li><a class="page-link" href="http://localhost:3000">Главная</a></li>
          <li><a class="page-link" href="http://localhost:3000/enemies">Враги</a></li>
          <li><a class="page-link" href="http://localhost:3000/news">Новости</a></li>
          <li><a class="page-link" href="http://localhost:3000/behind_scene">Закулисье</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="image-container">
        <img class="card-image" src="/img/NewsImages/{%IMG%}" />
      </div>
      <div class="date-text">{%DATE%}</div>
      <div class="news-text">{%NEWS-TEXT%}</div>
    </main>
  </body>
</html>
